.clockcontainer{

    position: fixed;
    top: 150px;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 600px;
    color: white;
}



#cadre{
    stroke: white;
    transition: all 0.4s ease-in-out;

}

#clockHand{
    position: absolute;
    top: 34%;
    transform: translateY(-20px);
    transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#phil {
    position: absolute;
    top: 5%;
}

#phil.active ~ #cadre{
    stroke: #2E3192;
    
}
/* #phil.active ~ #clockHand{
    stroke: #FFBB22;
    
} */


#pay {
    position: absolute;
    top: 43%;
    right: 8%;
    transform: translate(-50%, -50%);

}

#tech {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

#tech.active ~ #cadre{ 
    stroke: #ffffff;
}


#off {
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 33%;
    transition: all 0.4s ease-in-out;
}

#off.active ~ #cadre{
    stroke: #2E3192;
}

/* #off.active ~ #clockHand{
    stroke: #2E3192;
    color: green;
    fill: red !important;
    
} */

.dNone{
    display: none;
}

.isActive{
    display: inline;
    
}

@media screen and (max-width: 480px) {
    #pay {
        /* font-size: 14px; */
        right: 9%;

        
        
    }
}



